<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tinashechinyanga.zw.co.ruumz"
    tools:ignore="MissingLeanbackLauncher">

    <uses-sdk tools:overrideLibrary="android.support.v17.leanback" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- To connect to the internet access the network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".RoomsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <meta-data
            android:name="android.support.UI_OPTIONS"
            android:value="splitActionBarWhenNarrow" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_login_protocol_scheme" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1656895817905933"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--
                    <meta-data
                            android:name="android.app.searchable"
                            android:resource="@xml/searchable" />
                -->
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"/>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".AddListing"
            android:label="@string/title_activity_add_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RoomDetailActivity"
            android:label="@string/title_activity_room_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddRoomActivity"
            android:label="Add Room"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyRoomsActivity"
            android:label="@string/title_activity_my_rooms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyRoomDetailActivity"
            android:label="My Room Detail"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>